.poll {
  margin:5% auto 0;
  padding: 0 5%;
  border: 5px solid green;
  height: 100%;
  min-height: 100vh;
}

ul {
  margin-top: 15%;
  display: flex;
  justify-content: space-around;
  align-items:center; 
}


@media only screen and (max-width: 650px) {
  ul{
    flex-direction: column;
  }
}

button {
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  color: rgb(0,110,150);
  height: 3rem;
  width: 11rem;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 5rem;
  margin-top: 5rem;
  background-color: #F4F200;
  background-image: #F4F200;
  background-image: -moz-linear-gradient(top, #fff 0%, #F4F200 100%); 
  background-image: -webkit-linear-gradient(top, #fff 0%,#F4F200 100%); 
  background-image: linear-gradient(to bottom, #fff 0%,#F4F200 100%); 
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}


button:hover {
  background-position: -200%;
  transition: background 300ms ease-in-out;
  animation: pulse 1s infinite;
  transition: .3s;
}


span {
  display: none;
}

.poll ul.results li {
  border-color: #999;
}

.poll ul.results li button span {
  display: inline-block;
  margin-left: 8px;
}

p {
  float: left;
  margin-top: 5rem;
}